html, body {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('/assets/background.png');
	background-position: center 0px;
}

img {
	border: 0px none;
}


#container {
	margin: 52px auto 0px auto;
	position: relative;
	width: 693px;
	height: 633px;
	background-image: url('/assets/content.png');
}

#container .header {
	position: absolute;
	left: 100px;
	top: 52px;
	width: 496px;
	height: 41px;
	background-image: url('/assets/sprite.png');
	background-position: -1px -135px;
}

#sign {
	position: absolute;
	left: 98px;
	top: 446px;
	width: 216px;
	height: 127px;
	background-image: url('/assets/sprite.png');
	background-position: -1px -1px;
}


#content_text {
	position: absolute;
	left: 98px;
	top: 127px;
	width: 250px;
}

#content_text .title {
	line-height: 28px;
	
	font-family: Arial;
	font-size: 12px;
	color: #8dc63f;
	font-weight: bold;
}

#content_text .text {
	line-height: 15px;
	
	font-family: Arial;
	font-size: 11px;
}


#documents {
	position: absolute;
	left: 384px;
	top: 128px;
}

#documents a {
	display: block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	margin: 0px 0px 18px 0px;
}

#documents a img {
	position: absolute;
	top: 0px;
	left: 0px;
}

#documents a .hover {
	visibility: hidden;
	
}

#documents a:hover .hover {
	visibility: visible;
}



#footer {
	padding: 5px 0px 20px 0px;
	margin: 0px auto;
	width: 693px;
	text-align: center;
	
	font-family: Arial;
	font-size: 9px;
	position: relative;
}

#footer .text {
	position: absolute;
	right: 189px;
	top: 24px;
	text-align: right;
}

#footer .doomijn {
	
	position: absolute;
	right: 113px;
	top: 10px;
	width: 49px;
	height: 48px;
	background-image: url('/assets/sprite.png');
	background-position: -229px -1px;
}

#footer .traverswelzijn {
	margin: 0px 0px 0px 11px;
	
	position: absolute;
	right: 47px;
	top: 10px;
	width: 54px;
	height: 48px;
	background-image: url('/assets/sprite.png');
	background-position: -283px -1px;
}